@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
  .container-animation-game {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
  }

  .container-text-game {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .container-games-list {
    height: 80vh;
    overflow-y: scroll;
    padding: 10px;
    scroll-behavior: smooth;
  }

  .container-card {
    width: 95%;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #d4d3d3;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }

  .container-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }


  /* Cambiar el color del scroll */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #d4d3d3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }

  /* Cambiar el estilo del scroll */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #d4d3d3;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }

  .img-card{
    width: 120px;
    height: 120px;
    display: block;
    object-fit: cover;
  }

  .title-card{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
  }

  .p-card{
    font-size: 0.9rem;
    margin-top: 5px;
    margin-left: 10px;
    color: gray;
  }

  .container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .btn-card{
    display: none;
    position: absolute;
    bottom: 25%;
    width: 120px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: gray;
    border-radius: 10%;
    font-weight: bold;
  }

  .container-card:hover .container-img .img-card{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }

  .container-card:hover .container-img .btn-card{
    display: block;
    background-color: transparent;
    color: gray;
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 200;
    border: 1px solid gray;
  }

  .container-card:hover .container-img .btn-card:hover{
    background-color: rgb(158, 157, 157, 0.8);
    color: white;
    box-shadow: 0px 0px 6px 0px rgba(65, 64, 64, 0.6);
    transition: all 0.5s ease-in-out;
  }
}
