@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@100;500&display=swap');

@media screen and (max-width: 768px) {
  .container-animation-game {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
  }

  .container-text-game {
    width: 105%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .container-games-list {
    overflow-y: scroll;
    padding: 10px;
    scroll-behavior: smooth;
    margin-bottom: 20px;
  }

  .container-card {
    position: relative;
    width: 95%;
    height: 13  0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #d4d3d3;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }

  .img-card {
    display: block;
    margin-left: 35px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-top: 20%;
  }

  .title-card {
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 10px;
    color: gray;
    font-family: 'Caprasimo', cursive !important;

  }

  .p-card {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-left: 10px;
    color: gray;
  }

  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .btn-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 25%;
    left: -120%;
    width: 125px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #D7E0FF;
    border: none;
    color: #3C3744;
    border-radius: 10%;
    font-weight: bold;
  }

  .title-game-list {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    color: rgb(228, 92, 92);
    font-family: 'Caprasimo', cursive !important;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
  }

  .subtitle-game-list {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: gray;
    width: 100%;  
    margin-left: 10px;
  }

  .img-game-list{
    display: block;
    width: 90vw;
    height: 100%;
    object-fit: cover;
  }

  .container-cards-list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .container-card-list{
    width: 96%;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .img-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 70%;
    height: 70%;
    object-fit: cover;
  }

  .btn-goGame{
    display: block;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #D7E0FF;
    color: #3C3744;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D7E0FF;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
  }

  .title-goGame{
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
    width: 100%;
  }

  .description-goGame{
    display: block;
    color: gray;
    font-size: 14px;
    margin-top: 10px;
  }

  .btn-goGame:hover{
    background-color: #D7E0FF;
    color: #3C3744;
    transition: all 0.3s ease-in-out;
  }

  .fix-navbar{
    margin-top: 70px;
  }

  .fix-m-games-mobile{
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container-animation-game {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
  }

  .container-text-game {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .container-games-list {
    height: 80vh;
    overflow-y: scroll;
    padding: 10px;
    scroll-behavior: smooth;
  }

  .container-card {
    width: 95%;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #d4d3d3;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }

  .container-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  /* Cambiar el color del scroll */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #d4d3d3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }

  /* Cambiar el estilo del scroll */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #d4d3d3;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }

  .img-card {
    width: 120px;
    height: 120px;
    display: block;
    object-fit: cover;
  }

  .title-card {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 10px;
  }

  .p-card {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-left: 10px;
    color: gray;
  }

  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }

  .btn-card {
    display: none;
    position: absolute;
    bottom: 30%;
    right: -10px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: gray;
    border-radius: 10%;
    font-weight: bold;
  }

 /*  .container-card:hover .container-img .img-card {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  } */

  .container-card:hover .container-img .btn-card {
    display: block;
    background-color: transparent;
    color: gray;
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 200;
  }

  .container-card:hover .container-img .btn-card:hover {
    background-color: #D1D1FF;
    color: white;
    transition: all 0.3s ease-in-out;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
  }

  .card-modal {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.8);
  }

  .title-game-list {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 40px;
    text-align: left;
    width: 100%;
    color: rgb(228, 92, 92);
    font-family: 'Caprasimo', cursive !important;
    font-family: 'Poppins', sans-serif;
  }

  .subtitle-game-list {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    color: gray;
    width: 60%;    
  }

  .img-game-list{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container-cards-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;
    margin-bottom: 20px ;
  }

  .container-card-list{
    width: 40%;
    height: 100%;
    border-radius: 10px;
  }

  .img-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 70%;
    height: 70%;
    object-fit: cover;
  }

  .btn-goGame{
    display: block;
    margin-top: 10%;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: rgb(160, 157, 157);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D7E0FF;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
  }

  .title-goGame{
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
    width: 100%;
  }

  .description-goGame{
    display: block;
    color: gray;
    font-size: 14px;
    margin-top: 10px;
  }

  .btn-goGame:hover{
    background-color: #D7E0FF;
    color: #3C3744;
    transition: all 0.3s ease-in-out;
  }

  .fix-navbar{
    margin-top: 70px;
  }
  
}
