@media screen and (max-width: 768px) {
  .container-animation {
    display: block;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
  }

  .container-text {
    display: block;
    width: 95%;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10%;
  }

  .title-home {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin-top: -5rem;
    margin-bottom: 20px;
    font-family: "Caprasimo", cursive !important;
  }

  .subtitle-home {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    color: gray;
  }

  .btn-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 1rem;
  }

  .games-home {
    display: block;
    position: relative;
    height: 100vh;
  }

  .images-carousel {
    position: relative;
    margin-top: 20%;
    height: 200px;
  }

 

  .container-text-game-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 200px;
  }

  .subtitle-home-game {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 0px;
    color: gray;
  }

  .title-carousel {
    display: block;
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    left: -30px;
    bottom: -95px;
    color: #45414b;
    text-align: center;
    width: 120%;
    height: 120px;
    backdrop-filter: blur(10px);

  }

  .img-carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  .btn-home-game{
    position: absolute;
    display: block;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #D7E0FF;
    color: #3C3744;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D7E0FF;
    transition: all 0.3s ease-in-out;
    left: 0;
    margin-left: 10px;
    width: 95%;
    position: absolute;
    bottom: 40px;
  }

  .btn-home-game:hover{
    background-color: #cad5fc;
    color: #3C3744;
    border: 1px solid #D7E0FF;
  }

  .text-red-home{
    font-style: oblique;
    color: #909ac2;
  }

  .animation-material {
    margin-top: 100px;
  }

  .text-red{
    font-style: oblique;
    color: #E03268;
  }

  .btn-home-material{
    position: absolute;
    display: block;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #E03268;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #E03268;
    transition: all 0.3s ease-in-out;
    bottom: 110px;
  }

  .btn-home-material:hover{
    background-color: #d41e57;
    color: white;
    border: 1px solid #E03268;
  }

  .title-home-game-mobile{
    margin-top: 200px;
  }

  .fix-m-btn{
    margin-top: -120px;
  }

  .container-initial-home{
    position: relative;
    height: 100vh;
  }

  .btn-home{
    display: block;
    left: 0;
    margin-left: 30px;
    width: 90%;
    position: absolute;
    bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container-animation {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
  }

  .container-text {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
  }

  .title-home {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    font-family: "Caprasimo", cursive !important;
  }

  .subtitle-home {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    color: gray;
  }

  .fix-navbar {
    margin-top: 270px;
  }

  .games-home {
    display: flex;
    margin-left: 10px;
    height: 100vh;
  }

  .images-carousel {
    position: relative;
    height: 70vh;
    margin-top: 10%;
  }

  .text-game-home {
    display: block;
    margin-top: 30%;
  }

  .container-text-game-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }

  .subtitle-home-game {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: -20px;
    color: gray;
  }

  .title-carousel {
    position: absolute;
    display: flex;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
    color: #45414b;
    text-align: center;
    font-family: "Caprasimo", cursive !important;
    top: -70px;
    left: -90px;
    backdrop-filter: blur(10px);
    width: 140%;
    height: 100px;
    justify-content: center;
    align-items: center;
  }

  .img-carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    margin-top: 20px;
  }

  .btn-home-game{
    display: block;
    width: 25%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #D7E0FF;
    color: #3C3744;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #D7E0FF;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
  }

  .btn-home-game:hover{
    background-color: #cad5fc;
    color: #3C3744;
    border: 1px solid #D7E0FF;
  }

  .text-red-home{
    font-style: oblique;
    color: #D7E0FF;
  }

  .animation-material {
    margin-top: 6%;
  }

  .text-red{
    font-style: oblique;
    color: #E03268;
  }

  .btn-home-material{
    display: block;
    width: 33%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #E03268;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #E03268;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
  }

  .btn-home-material:hover{
    background-color: #d41e57;
    color: white;
    border: 1px solid #E03268;
  }
}
