@media screen and (max-width: 768px) {

}

@media screen and (min-width: 768px) {
    .container-animation{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11%;
    }

    .container-text{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11%;
    }

    .title-home{
        font-size: 2.8rem;
        font-weight: 700;
        text-align: left;
        margin-bottom: 2rem;
    }

    .subtitle-home{
        font-size: 1.5rem;
        font-weight: 400;
        text-align: left;
        margin-bottom: 2rem;
        color: gray;
    }


 
}