@media screen and (max-width: 820px) {
  .container-card-material{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .text-file {
    display: flex;
    align-items: center;
    color: gray;
    font-weight: 500;
    text-align: center;
  }
}

@media screen and (min-width: 820px) {
  .row-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #ff4f5b;
    color: white;
    border-radius: 10px;
  }

  .container-card-material {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 25px;
    color: gray;
    border: 1px solid #ffffff;
    transition: all 0.3s ease-in-out;
  }

  .container-card-material:hover {
    border: 1px solid #e0dddd;
    transition: all 0.3s ease-in-out;
  }

  .icon-black {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262a35;
    height: 55px;
    margin-left: -20px;
    border-radius: 10px 0px 0px 10px;
  }

  .icon-red {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4f5b;
    height: 55px;
    margin-left: -20px;
    border-radius: 10px 0px 0px 10px;
  }

  .text-file {
    display: flex;
    align-items: center;
    color: gray;
    font-weight: 500;
  }

  .container-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-options {
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    background-color: transparent;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    text-decoration: none;
    color: gray;
  }

  .icon-options:hover {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background-color: #eb737b;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
}
